.single-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  width: 250px;
  min-height: 20px;
  text-decoration: none;
  margin: 5px;
}
