.board-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 10px;
}

.add-list-button {
  background-color: #ebecf0;
  width: 300px;
  height: 10%;
  border: none;
  border-radius: 3px;
}
