.list-container {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-height: 50px;
  width: 300px;
  margin-right: 10px;
}

.header-container {
  display: flex;
}

.list-name {
  width: 80%;
}

.list-button {
  background-color: #ebecf0;
  align-items: center;
  border-radius: 3px;
  color: #6b778c;
  border: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
