.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #add8e6;
  padding: 3px 10px;
}

.left-cluster {
  display: flex;
}

.middle-cluster {
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.right-cluster {
  display: flex;
}

.nav-icon {
  font-size: 1.5rem;
  border-radius: 3px;
  color: black;
  background-color: #f0f8ff;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.logo-icon {
  font-size: 1.5rem;
  margin: 5px;
  border-radius: 3px;
  color: black;
  padding: 5px;
  cursor: pointer;
}
